body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#111;
    color:white;
}

header{
    background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), #222;
    text-align:center;
    padding:60px 20px;
}

h1{
    color:#FFD700;
    font-size:48px;
    margin-bottom:10px;
}

h2{
    color:#ff4444;
}

a{
    display:inline-block;
    margin:10px;
    padding:12px 25px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    color:white;
    background:#d62828;
}

a:hover{
    background:#ff4444;
}

#menu{
    max-width:900px;
    margin:40px auto;
    padding:20px;
}

#menu h3{
    background:#d62828;
    padding:10px;
    border-radius:8px;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:#222;
    margin:8px 0;
    padding:15px;
    border-radius:8px;
    border-left:5px solid gold;
}

footer{
    background:#000;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
